a, a:hover {
    text-decoration: none;
    font: inherit;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    justify-items: space-evenly;
}

nav li {
    display: inline-block;
    list-style: none;
    font-weight: bolder;
}

.important-image {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.important-image img {
    box-shadow: 10px 10px 10px lightslategray;
}

#calendar {
    display: flex;
    justify-content: center;
}