a, a:hover {
    text-decoration: none;
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
}

p {
    font-family: 'Lato', sans-serif;
}

.nav-menu {
    display: grid;
    justify-items: end;
    align-items: center;
}

nav li {
    font-family: 'Cinzel Decorative', cursive;
    color: #184f98;
    display: inline-block;
    list-style: none;
    font-weight: bolder;
    margin: 0px 5px;
}

.important-image {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.important-image img {
    box-shadow: 10px 10px 10px lightslategray;
}

#calendar {
    display: flex;
    justify-content: center;
}